<%= form_with(model: reason, local: true) do |form| %>
  <% if reason.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reason.errors.count, "error") %> prohibited this reason from being saved:</h2>

      <ul>
      <% reason.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <small id="nameHelp" class="form-text text-muted">Nome do motivo</small>
  </div>

  <fieldset class="form-group">
    <%= form.label :action, 'Ação do motivo' %>
    <div class="form-check">
      <label class="form-check-label">
        <%= form.radio_button :action, 'add', class: 'form-check-input'%> Adicionará<br />
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <%= form.radio_button :action, 'remove', class: 'form-check-input'%> Removerá<br />
      </label>
    </div>
  </fieldset>

  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
