<p id="notice"><%= notice %></p>

<h1>Reasons</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Action</th>
      <th colspan="3">Opções</th>
    </tr>
  </thead>

  <tbody>
    <% @reasons.each do |reason| %>
      <tr>
        <td><%= reason.name %></td>
        <td><%= action_name(reason.action) %></td>
        <td><%= link_to 'Show', reason %></td>
        <td><%= link_to 'Edit', edit_reason_path(reason) %></td>
        <td><%= link_to reason, method: :delete, data: { confirm: 'Are you sure?' } do%>
          <span class="badge badge-danger">Destroy</span>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Reason', new_reason_path, class: 'btn btn-primary', method: :get %>
