<h1>Seja bem vindo, <%= @customer_name %> :D</h1>

<ul>
  <li><%= link_to 'add Produtos', new_product_path%></li>
  <li><%= link_to 'ver Produtos', products_path%></li>
</ul>

<br/>
<br/>

<ul>
  <li><%= link_to 'add Motivos', new_reason_path%></li>
  <li><%= link_to 'ver Motivos', reasons_path%></li>
</ul>

<br/>
<br/>

<ul>
  <li><%= link_to 'add/remover Estoque', new_warehouse_change_path%></li>
  <li><%= link_to 'ver Estoque', warehouse_changes_path%></li>
</ul>