<%= form_with(model: warehouse_change, local: true) do |form| %>
  <% if warehouse_change.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(warehouse_change.errors.count, "error") %> prohibited this warehouse_change from being saved:</h2>

      <ul>
      <% warehouse_change.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label 'product_id', 'Produto' %>
    <%= form.collection_select(:product_id, products_list, :id, :name, {}, {class: 'custom-select mb-2 mr-sm-2 mb-sm-0'})%>
  </div>

  <div class="form-group">
    <%= form.label :reason_id, 'Motivo' %>
    <%= form.collection_select(:reason_id, reasons_list, :id, :name, {}, {class: 'custom-select mb-2 mr-sm-2 mb-sm-0'})%>
  </div>

  <div class="form-group">
    <%= form.label :quantity, 'Quantidade' %>
    <%= form.number_field :quantity, "aria-describedby" => "quantityHelp" %>
    <small id="quantityHelp" class="form-text text-muted">Quantidade a ser alterada</small>
  </div>

  <div class="actions">
    <%= form.submit, 'Criar', class: "btn btn-primary"%>
  </div>
<% end %>
