<h1>Movimentação no Estoque</h1>

<table class="table">
  <thead>
    <tr>
      <th># Change</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Motivo</th>
      <th>DateTime</th>
      <th>Descrição</th>
    </tr>
  </thead>

  <tbody>
    <% @warehouse_changes.each do |warehouse_change| %>
      <tr>
        <th scope="row"><%= warehouse_change.id %></th>
        <td><%= warehouse_change.product.name %></td>
        <td><%= warehouse_change.quantity %></td>
        <td><%= action_name(warehouse_change.reason.action, warehouse_change.reason.name) %></td>
        <td><%= format_datetime(warehouse_change.created_at) %></td>
        <td><%= warehouse_change.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Nova Movimentação', new_warehouse_change_path, method: :get, class: 'btn btn-primary' %>