<p id="notice"><%= notice %></p>

<h1>Warehouse Changes</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Motivo</th>
      <th>DateTime</th>
    </tr>
  </thead>

  <tbody>
    <% @warehouse_changes.each do |warehouse_change| %>
      <tr>
        <td><%= warehouse_change.product.name %></td>
        <td><%= warehouse_change.quantity %></td>
        <td><%= warehouse_change.reason.name %></td>
        <td><%= format_datetime(warehouse_change.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Warehouse Change', new_warehouse_change_path %>
