<p id="notice"><%= notice %></p>

<p>
  <strong>Produto:</strong>
  <%= @warehouse_change.product.name %>
</p>

<p>
  <strong>Motivo:</strong>
  <%= @warehouse_change.reason.name %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @warehouse_change.quantity %>
</p>

<%= link_to 'Editar', edit_warehouse_change_path(@warehouse_change) %> |
<%= link_to 'Voltar', warehouse_changes_path %>
