<div class="field">
  <%= sale.label 'product_id' %>
  <%= sale.collection_select(:product_id, products_list_with_name_with_price, :id, :name) %>
</div>

<div class="field">
  <%= sale.label 'quantity' %>
  <%= sale.number_field :quantity %>
</div>

<div class="actions">
  <%= sale.submit 'Adicionar produto', :name => 'add_sale_product' %>
</div>
