<%= form_with(model: product, local: true) do |form| %>
    <% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name, 'Nome' %>
      <%= form.text_field :name, "aria-describedby" => "nameHelp"%>
      <small id="nameHelp" class="form-text text-muted">Nome do produto</small>
    </div>

    <div class="form-group">
      <%= form.label :description, 'Descrição' %>
      <%= form.text_area :description, "aria-describedby" => "descriptionHelp"%>
      <small id="descriptionHelp" class="form-text text-muted">Detalhes do produto</small>
    </div>

    <div class="form-group">
      <%= form.label :price, 'Preço' %>
      <%= form.text_field :price, "aria-describedby" => "priceHelp"%>
      <small id="priceHelp" class="form-text text-muted">Preço do produto</small>
    </div>

    <div class="form-group">
      <%= form.label :image, 'Imagem' %>
      <%= form.text_field :image, "aria-describedby" => "imageHelp"%>
      <small id="imageHelp" class="form-text text-muted">URL do produto</small>
      <%if @product.image%>
        <%= get_product_image(product) %>
      <%end%>
    </div>

    <div class="actions">
      <%= form.submit 'Adicionar Produto', class: "btn btn-primary"%>
    </div>
<% end %>