<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Preço:</strong>
  R$ <%= @product.price %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= get_product_image(product) %>
</p>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Voltar', products_path %>
