<%= form_with(model: sale, local: true) do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if sale.sale_products.count > 0 %>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Remover</th>
      </tr>
    </thead>

    <tbody>
      <% sale.sale_products.each_with_index do |sale_product, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= sale_product.product.name %></td>
          <td><%= sale_product.quantity %></td>
          <td>remover</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

  <div class="append-list">
    <div class="nested_form">
      <%= form.fields_for :sale_products, @sale.sale_products.build do |sale|%>
        <%= render 'sale_products/sale_product_partial', sale: sale%>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= sale.total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>