<p id="notice"><%= notice %></p>

<h1>Sales</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Total</th>
      <th>DateTime</th>
      <th>Produtos</th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.id %></td>
        <td><%= format_money(sale.get_total_value) %></td>
        <td><%= format_datetime(sale.created_at) %></td>
        <td>
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Subtotal</th>
              </tr>
            </thead>

            <tbody>
              <% sale.sale_products.each_with_index do |sale_product, index| %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= sale_product.product.name %></td>
                  <td><%= sale_product.quantity %></td>
                  <td><%= format_money(sale_product.current_price) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Iniciar nova venda', start_new_sale_path %>

