<h1>Vendas</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="row"># Venda</th>
      <th>Total</th>
      <th>DateTime</th>
      <th>Produtos</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody>
    <% get_all_active_sales.each do |sale| %>
      <tr>
        <th scope="row"><%= sale.id %></th>
        <td><%= format_money(sale.get_total_value) %></td>
        <td><%= format_datetime(sale.created_at) %></td>
        <td>
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Subtotal</th>
              </tr>
            </thead>

            <tbody>
              <% sale.sale_products.each_with_index do |sale_product, index| %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= sale_product.product.name %></td>
                  <td><%= sale_product.quantity %></td>
                  <td><%= format_money(sale_product.current_price) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </td>
        <td><%= link_to sale_disable_path(sale), method: :post, data: {confirm: 'Tem certeza? A venda será cancelada e os produtos voltarão pro estoque'} do%>
          <span class='badge badge-danger'>
            Cancelar
          </span>
          <%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= button_to 'Iniciar nova venda', start_new_sale_path, method: :get, class: 'btn btn-primary' %>

