
<br/>

<%= form_with(url: reports_warehouse_changes_path, local: true, method: :get) do |form| %>
  <div class="form-row">

    <div class="col-md-4 mb-3">
      <%= form.label 'product_id', 'Produto' %>
      <%= form.collection_select(:product_id, products_list, :id, :name, {}, {class: 'custom-select mb-2 mr-sm-2 mb-sm-0'})%>
    </div>

    <div class="col-md-4 mb-3">
      <%= form.label :start, 'Início' %>
      <%= form.text_field :start, "aria-describedby" => "startHelp", class: 'input-date-mask', value: "#{DateTime.now.beginning_of_year.strftime('%d/%m/%Y')}"%>
      <small id="startHelp" class="form-text text-muted">Data Início</small>
    </div>

    <div class="col-md-4 mb-3">
      <%= form.label :finish, 'Fim' %>
      <%= form.text_field :finish, "aria-describedby" => "finishHelp", class: 'input-date-mask', value: "#{DateTime.now.end_of_year.strftime('%d/%m/%Y')}"%>
      <small id="finishHelp" class="form-text text-muted">Data Fim</small>
    </div>

    <div class="actions col-md-4 mb-3">
      <%= form.submit 'Filtrar', class: "btn btn-primary"%>
    </div>
  </div>
<%end%>

<br/>
<hr>
<br/>

<% if @warehouse_change_result %>
  <table class="table">
    <thead>
      <tr>
        <th># Change</th>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Motivo</th>
        <th>DateTime</th>
        <th>Descrição</th>
      </tr>
    </thead>

    <tbody>
      <% @warehouse_change_result.each do |warehouse_change| %>
        <tr>
          <th scope="row"><%= warehouse_change.id %></th>
          <td><%= warehouse_change.product.name %></td>
          <td><%= warehouse_change.quantity %></td>
          <td><%= action_name(warehouse_change.reason.action, warehouse_change.reason.name) %></td>
          <td><%= format_datetime(warehouse_change.created_at) %></td>
          <% if warehouse_change.description%>
            <td><%= link_to warehouse_change.description, sale_path(get_sale_id_from_warehouse_change(warehouse_change)), target: '_blank' %></td>
          <%else%>
            <td><%= warehouse_change.description %></td>
          <%end%>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2><%= "Total movimentado: #{total_warehouse_changed(@warehouse_change_result)}"%></h2>
<%end%>