<!DOCTYPE html>
<html>
  <head>
    <title>StockRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <%= link_to 'Início', root_path%> | 
    <%= link_to 'Produtos cadastrados', products_path%> | 
    <%= link_to 'Vendas', sales_path%> | 
    <%= link_to 'Motivos', reasons_path%> | 
    <%= link_to 'Movimentação Estoque', warehouse_changes_path%>
    </nav>
    <%= yield %>
  </body>
</html>
